.wrapper {
  overflow: hidden;
  height: 100vh;
}

.slide {
  display: flex;
  height: 100vh;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  margin-top: 70px;
  flex-shrink: 0;
  width: 90vw;
  height: 80vh;
  max-width: 500px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
  display: flex;
  align-items: center;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background-color: #e54;
}

.custom-control {
  margin-top: -70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.custom-control li {
  opacity: 0.9;
  transform: scale(0.8);
  width: 60px;
  height: 70px;
  overflow: hidden;
  margin: -15px;
}

.custom-control li img {
  width: 60px;
  height: 70px;
  object-fit: cover;
}

.custom-control li.active {
  position: relative;
  z-index: 50;
  transition: 0.3s;
  opacity: 1;
  transform: scale(1);
}

.position-arrow {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
}

.arrow-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.prev,
.next {
  margin: 20px;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #a044ff url('../images/img-slide/arrow.svg ') center center
    no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  .arrow-nav {
    display: none;
  }
  .custom-control {
    margin-top: -70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .slide li {
    margin-top: 0;
  }

  .custom-control li {
    width: 40px;
    height: 50px;
  }

  .custom-control li {
    opacity: 0.9;
    transform: scale(0.8);
    width: 40px;
    height: 50px;
    overflow: hidden;
    margin: -15px;
  }

  .custom-control li img {
    width: 40px;
    height: 50px;
    object-fit: cover;
  }
}
